<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="menuNavbar">
  <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Shop Here
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#"><em class="fas fa-object-group"></em> Manage Category</a></li>
            <li><a class="dropdown-item" href="#"><em class="fas fa-building"></em> Manage Suppliers</a></li>
            <li><a class="dropdown-item" href="#"><em class="fab fa-product-hunt"></em> Manage Products</a></li>
            <li><a class="dropdown-item" href="#"><em class="fas fa-tv"></em> Display Products</a></li>
            <li><a class="dropdown-item" href="#"><em class="fas fa-sign-out-alt"></em> Logout</a></li>
          </ul>
        </li>

      </ul>
    </div>

</nav>
