.carousel-control-prev,
.carousel-control-next
{
     width: 3% !important;
     height: 20%;
     background-color: black;
     top: calc(40% - 20px);
     opacity: .8;
}
.carousel-control-prev
{
  left: 0%;
}
.carousel-control-next
{
  right: 0%;
}
