.carousel-control-prev,
.carousel-control-next
{
     width: 2% !important;
     height: 15%;
     background-color: black;
     top: calc(60% - 20px);
     opacity: .8;
}
.carousel-control-prev
{
  left: 0%;
}
.carousel-control-next
{
  right: 0%;
}
