<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home"><em class="fab fa-etsy"></em>veryNeed.in <em class="fas fa-shopping-bag"></em></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mx-2" id="navbarResponsive">
      <div>
				<form action="">
					<div class="input-group">
						<input type="text" class="form-control" size="70px"
							placeholder="Search Your Product Here" name="search">
						<div class="input-group-btn">
							<button class="btn btn-default" type="submit" style="background-color: darkorange">
								<em class="fas fa-search" style="font-size:22px;"></em>
							</button>
						</div>
					</div>
				</form>
			</div>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/login">Login <em class="fas fa-sign-in-alt"></em>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/signup">Signup <em class="fas fa-user-plus"></em></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#"><em class="fas fa-cart-plus"></em></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            User
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#"><em class="fab fa-first-order-alt"></em> Order Detail</a></li>
            <li><a class="dropdown-item" href="#"><em class="fas fa-wallet"></em> Payment Detail</a></li>
            <li><a class="dropdown-item" href="#"><em class="fas fa-sign-out-alt"></em> Logout</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#"><em class="fas fa-object-group"></em> Manage Category</a></li>
            <li><a class="dropdown-item" href="#"><em class="fas fa-building"></em> Manage Suppliers</a></li>
            <li><a class="dropdown-item" href="#"><em class="fab fa-product-hunt"></em> Manage Products</a></li>
            <li><a class="dropdown-item" href="#"><em class="fas fa-tv"></em> Display Products</a></li>
            <li><a class="dropdown-item" href="#"><em class="fas fa-sign-out-alt"></em> Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
